html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

main {
  text-align: center;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  width: 100%;
  margin: 0;
  padding: 0;
}

.child {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
}

section {
  padding: 5rem 10%;
  width: 100%;
  flex: 1 0 100%;
  height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none; /*  IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

section::-webkit-scrollbar {
  display: none;
}

/* Section Colors */
.overview {
  background-color: #9adedb;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.resume {
  background-color:  #aa9499 ;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ISAAC {
  background-color:  #99c5c4 ;
}

.groupify {
  background-color:  #aaf0d1 ;
}

.UWSOM {
  background-color:  #bee7a5 ;
}

.design {
  background-color:  #bdb0d0 ;
}

.hobbies {
  background-color:  #c6a4a4 ;
}

.footer {
  background-color: aliceblue;
}
/* end of Section Colors */

main div {
  justify-content: center;
}

main div img {
  margin: 1rem;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: end;
  scroll-snap-stop: always;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}

.source {
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}

.title em {
  color: darkblue;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.description a {
  color: #0070f3;
}

.description a:hover {
  text-decoration: underline;
}

.resume_small {
  display: none;
}

.diagrams {
  display: flex;
  flex-direction: row;
  height: max-content;
}

.slider-wrapper, .slider-wrapper2 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
}
.slides-container, .slides-container2 {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}
.slide, .slide2 {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slide img, .slide2 img {
  width: 90%;
}

.slide-arrow, .slide-arrow2 {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}
.slide-arrow:hover,
.slide-arrow:focus,
.slide-arrow2:hover,
.slide-arrow2:focus {
  opacity: 1;
}
#slide-arrow-prev, #slide-arrow-prev2 {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
#slide-arrow-next, #slide-arrow-next2 {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slides-container::-webkit-scrollbar, .slides-container2::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  /* white-space: nowrap;
  word-wrap: break-word; */
  max-width: 90%;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:-webkit-details-marker {
  display: none;
}

.logo {
  height: 1em;
}

.web_img {
  border: 1px solid black;
  margin-bottom: 2rem;
  height: auto;
}

.images {
  display: flex;
  flex-direction: row;
}

.my_contribution {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-decoration: underline;
  text-align: center;
  padding: .5rem;
}

.winfo {
  width: 60%;
  height: auto;
}

.link {
  color: #0070f3;
}

.link:hover {
  text-decoration: underline;
}

.left {
  text-align: left;
}

.card {
  display: flex;
  flex-direction: row;
  outline: 2px solid black;
  margin-top: 1rem;
}

.map {
  width: 60%;
  height: fit-content;
  margin-right: 1rem;
}

.btn {
  margin: 1rem;
  border-radius: 5px;
  padding: 0.25em 1em;
  border: 5px solid #eaeaea;
  color: #0070f3;
  text-decoration: none;
}

.doc {
  width: 100%;
  height: 250px;
  margin-right: 1rem;
}

/* custom hamburger menu styles */
.menu-item {
  margin-bottom: 1em;
}

/* imported hamburger menu styles */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Media Styles */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .bm-burger-button {
    width: 24px;
    height: 24px;
    left: 24px;
    top: 24px;
  }

  section {
    padding: 5rem 15%;
  }

  .title {
    font-size: 3em;
  }

  .description {
    font-size: 16px;
  }

  .resume_big {
    display: none;
  }

  .resume_small {
    display: block;
  }

  .my_contribution {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
  }

  .btn {
    margin: .5rem;
    margin-top: 1em;
    border-radius: 2px;
    padding: 0.25em .5em;
    border: 2px solid #eaeaea;
    color: #0070f3;
    text-decoration: none;
  }
}
@media (min-width: 900px) {
  .file {
    margin: 1em;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .file {
    margin: 1em;
    height: 400px;
  }
}

@media (min-width: 1600px) {
  .file {
    margin: 1em;
    height: 500px;
  }
}

@media (min-width: 1900px) {
  .file {
    margin: 1em;
    height: 700px;
  }
}
